<div *ngIf="movie">
    <div class="text-center">
      <img src="{{ movie.image }}" class="rounded img-fluid" alt="{{ movie.title }}" style="width: 10em">
      <h1>{{ movie.title }}</h1>
    </div>
  <br>
  <dl>
    <dt>Premiere:</dt><dd>{{ movie.premiereDate | date }}</dd>
    <dt>Genre:</dt><dd>{{ movie.genre }}</dd>
  </dl>
  <h4>Description:</h4>
  <p>{{ movie.description }}</p>

  <br>
  <div>
    <span>Current rating:</span>
    <span> {{ movie.rating }}</span>
    <br>
    <button class="btn btn-primary" type="button" [routerLink]="['/rate', movie.id]">Rate the movie</button>
  </div>
  <br>
  <h4>Reviews:</h4>
  <app-review-list [movieId]="movie.id"></app-review-list>

</div>

<h1 *ngIf="!movie">...</h1>